In [ ]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
from datetime import datetime, timedelta
current_mand_symbols = ["US30", "NAS100", "USDJPY", "XAUUSD", "GER30", "JPN225"]
current_mand_timeframes = {
    mt5.TIMEFRAME_M1: 69,
    mt5.TIMEFRAME_M5: 300,
    mt5.TIMEFRAME_M15: 1000,
    mt5.TIMEFRAME_D1: 1200
}
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

eurcad_rates = mt5.copy_rates_range(
    "US30",
    mt5.TIMEFRAME_D1, 
    datetime.now() - timedelta(1200), 
    datetime.now())

df = pd.DataFrame(eurcad_rates)
df = df.iloc[:, :7]
import pytz

# 先轉成 UTC
df['time'] = pd.to_datetime(df['time'], unit='s', utc=True)
df['da'] = df['time'].dt.strftime("%Y-%m-%d")
df['hms'] = df['time'].dt.strftime("%H:%M:%S")
df.sort_values(by=['da', 'hms'], inplace=True)
df = df.drop_duplicates(subset=['da', 'hms'])
df = df.iloc[:, :]
df.columns = ["time", "op", "hi", "lo", "cl", "tick_volume", "spread","da", "hms"]
df.head()

,time,op,hi,lo,cl,tick_volume,spread,da,hms
0,2022-10-20 00:00:00+00:00,30367.7,30827.7,30258.7,30375.6,156633,0,2022-10-20,00:00:00
1,2022-10-21 00:00:00+00:00,30366.1,31158.6,30068.0,31156.6,226785,0,2022-10-21,00:00:00
2,2022-10-24 00:00:00+00:00,31213.8,31600.2,30882.5,31475.6,254011,0,2022-10-24,00:00:00
3,2022-10-25 00:00:00+00:00,31474.3,31878.7,31308.6,31836.1,203156,0,2022-10-25,00:00:00
4,2022-10-26 00:00:00+00:00,31762.2,32174.8,31708.9,31955.1,208260,0,2022-10-26,00:00:00

In [ ]:
strategy_list = [
    "XAUUSD_rangeBreakout_6amto9am_21pm_revPos_true",
    "USDJPY_rangeReverse_9amto12am_21pm_revPos_true",
    "GER30_rangeBreakout_15pmto1530pm_21pm_revPos_true",
    "GER30_candleReverse_15pmto1515pm_1517pm_oneOrder",
    "JPN225_rangeBreakout_8amto815am_12am_revPos_true",
    "NAS100_trendFollowing",
    "US30_candleReverse_2130pmto2135pm_2140pm_oneOrder",
]

KeyError: 'time'

In [6]:
import MetaTrader5 as mt5

# 初始化
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

# 取得所有 symbol
symbols = mt5.symbols_get()

print(f"Total symbols: {len(symbols)}")

# 列出前 20 個
for s in symbols[:]:
    print(s.name)

mt5.shutdown()

Total symbols: 76
AUDCAD
AUDCHF
AUDJPY
AUDNZD
AUDSGD
AUDUSD
CADCHF
CADJPY
CHFJPY
EURAUD
EURCAD
EURCHF
EURGBP
EURHKD
EURHUF
EURJPY
EURNOK
EURNZD
EURSGD
EURUSD
GBPAUD
GBPCAD
GBPCHF
GBPJPY
GBPNZD
GBPSGD
GBPUSD
MXNJPY
NOKJPY
NZDCAD
NZDCHF
NZDJPY
NZDSGD
NZDUSD
SGDJPY
USDCAD
USDCHF
USDCNH
USDDKK
USDHKD
USDHUF
USDJPY
USDMXN
USDNOK
USDSEK
USDSGD
USDZAR
ZARJPY
UKOUSD
USOUSD
XAGUSD
XAUUSD
XPTUSD
AUS200
EUSTX50
FRA40
GER30
HK50
JP225
NDX100
NTH25
SPX500
SWI20
UK100
US2000
US30
VIX
ADAUSD
BTCUSD
DOGUSD
ETHUSD
LNKUSD
LTCUSD
XLMUSD
XMRUSD
XRPUSD

True

In [4]:
df

Empty DataFrame
Columns: []
Index: []